<div class="inner">
  <div class="logo">
    <h1>
      <a href="#">
        {%- if section.settings.logo != blank -%}
          {{ section.settings.logo | image_url: '150px' }}
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </h1>
  </div>
  <nav>
    <ul>
      {%- for link in section.settings.menu.links -%}
        <li>
          <a href="{{ link.url }}">
            <span>{{ link.title | escape }}</span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  <div class="icon">
    <div class="icon_serch"></div>
    <div class="icon_cart"></div>
  </div>
</div>

{%- style -%}
  header .inner {
    display: flex;
    justify-content: space-between;
  }

  header .inner ul li {
    margin-right: 10px;
  }

  header .inner .icon {
    display: flex;
    gap: 20px;
  }

  header .inner .icon .icon_serch {
    width: 40px;
    height: 20px;
    background-color: #f00;
  }

  header .inner .icon .icon_cart {
    width: 40px;
    height: 20px;
    background-color: #00f;
  }
{%- endstyle -%}


{% schema %}
  {
    "name": "original_header",
    "class": "section-header",
    "tag": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }
    ]
  }
{% endschema %}